[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Honami Maintainer
	labelAs-Code-Review = -2..+2 group Honami Maintainer
	rebase = group Honami Maintainer
	submit = group Honami Maintainer
	submitAs = group Honami Maintainer
	editTopicName = group Honami Maintainer
